#main-grid {
    max-width: 960;
    max-height: 960;
    display: flex;
    justify-content: center;
}

.grid-box {
    padding: 5px;
    background-color: rgb(221, 221, 221);
}

.grid-box-black {
    background-color: black;
}